.success-section {
  margin-top: 50px;
  padding: 60px 20px;
  background-color: #eecfcc;
  color: #000;
  text-align: center;
}

.success-container {
  background-color: #f1879e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.success-container .success-image {
  width: 100px;
  margin-bottom: 20px;
}

.success-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.success-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.success-container .delivery-info {
  font-size: 16px;
  margin-bottom: 30px;
}

.success-container .btn {
  width: 80%;
  margin: 15px auto;
  background-color: #f73167;
  color: #222;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.success-container .btn:hover {
  background-color: #c62852;
}

.success-container .btn a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

.recommendations {
  background-color: #f1879e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.recommendations h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.recommendations-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.recommendation-item {
  background-color: #f73167;
  padding: 40px 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.recommendation-item img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.recommendation-item p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.recommendation-item .btn {
  background-color: #eecfcc;
  color: #222;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.recommendation-item .btn:hover {
  background-color: #bea3a1;
}
